:root{
    --main-font: 'Lato', sans-serif;
    --second-font: 'Italiana', serif;
    --third-font: 'IBM Plex Sans Arabic', sans-serif;

    --main-color: #E8C7B5;
    --second-color: #323031;
    --third-color: #747070;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    min-height: 100vh;
}